.DS_Store
settings.source.sh
# Ignore legacy data but only if it appears in the root of the git repo.
/legacy-data
# You can put things like database dumps, temporary files in ./do-not-commit,
# which you might have to create first, and avoid them being accidentally
# committed to git.
do-not-commit
# We want to ignore environment variables used by Docker Compose
.env

# Lambdatest puts these files here if I trigger a tunnel from this directory.
lt.log
ltcupdate
.phpunit.result.cache

drupal/settings/local-settings/unversioned.php
unversioned.source.sh
drupal/config/social_auth_google.settings.yml
drupal/config/commerce_payment.commerce_payment_gateway.stripe_prod.yml
drupal/config/simple_oauth.settings.yml
drupal/starter-data/private-files/social-auth-oauth-keys/private-files