{#
/**
 * @file
 * Electro Commerce theme implementation for product grid rows (4-column).
 * Used by the Our Products view and other product grid views.
 *
 * Variables:
 * - rows: A list of row items.
 * - title: A string containing title of the view (if set).
 */
#}
<div class="row g-4">
  {% for row in rows %}
    <div class="col-md-6 col-lg-4 col-xl-3">
      {{ row.content }}
    </div>
  {% endfor %}
</div>
