# See https://github.com/dcycle/docker-phpstan-drupal/blob/master/README.md#custom-config-file
parameters:
  excludePaths:
  - */tests/*
  - */test/*
  bootstrapFiles:
    - /phpstan-drupal/cart-block-mock-class.php
    - /phpstan-drupal/store-interface-mock.php
    - /phpstan-drupal/entity-interface-mock.php
    - /phpstan-drupal/product-interface-mock.php
    - /phpstan-drupal/product-variation-mock.php
    - /phpstan-drupal/social_auth.mock.php
includes:
  - /var/www/html/phpstan.neon
